.products {
  padding-top: 60px 20px;
  margine: 0 auto;
  background: var(--primare-bg-color);

}
.products__slogan {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: var(--secondary-accent-color);

.products__title {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 39px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--accent-color);
}
.products__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: mirmax(489px, auto);
  width: 280px;
  height: auto;
  margine: 0 auto;
  grid-gar: 140px;
}
.products__item {
  width: 280px;
  height: auto;
}
.products__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: var(--secondary-accent-color);
}
.products__item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: var(--forth-bg-color);
}
.products__item:nth-child(3) {
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: var(--third-bg-color);
}

.products__picture {
  
}
.products__subtitle {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: var(--primare-bg-color);
}
.products__icon {
  fill: var(--primare-bg-color);
}
.products__text {
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 152%;
/* or 21px */

text-align: center;
letter-spacing: 0.04em;

color: var(--primare-bg-color);

}
.products__link {
}
.products__pic {
  background-color: var(--primare-bg-color);
  fill: var(--accent-color);
}