@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  @media screen and (min-width: $mobile-width) {
    width: $mobile-width;
  }
  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
