h1,
h2,
h3,
p {
  margin: 0;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primare-bg-color);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}
a {
  text-decoration: none;
  display: block;
  cursor: url('../images/hero/cursor-icecream.png'), auto;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  cursor: url('../images/hero/cursor-icecream.png'), auto;
}
