:root {
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --third-accent-color: #ed557b;
  --primare-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --third-bg-color: #c2e297;
  --forth-bg-color: #f0d1a5;
  --card-set-gap: 30px;
  --section-set-gap: 94px;
  --primary-text-color: #907e82;
  --accent-text-color: #000000;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
