.about-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms var(--timing-function),
    visibility 400ms var(--timing-function);
  overflow-y: scroll;
  z-index: 4;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

}

body.about-modal--open {
  overflow: hidden;
}

.about-modal__mob-container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
}

.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  max-width: 1150px;
  padding: 10px;
  width: 90%;
  height: 89%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  // z-index: 5;
  background-image: linear-gradient(
    to right,
    #f5bdca 33%,
    #f2d7b2 33%,
    #f2d7b2 66%,
    #c9dbb1 66%
  );
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-duration) var(--timing-function);
}

.about-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  background: var(--main-background-color);
  border: 1px solid var(--primare-bg-color);
  border-radius: 50%;
  transition: border var(--time-duration) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.about-modal__icon {
  fill: var(--primare-bg-color);
  transition: fill var(--time-duration) var(--timing-function);

  .about-modal__close-btn:hover &,
  .about-modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.about-modal__title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-modal__pre-title {
  font-family: 'Titan One', sans-serif;
  @include font(400, 80px, 82px, normal, null, var(--primare-bg-color));
  text-transform: uppercase;
  margin-right: 10px;
  @media screen and (max-width: $tablet-width) {
    @include font(400, 60px, 62px, normal, null, var(--primare-bg-color));
  }
}

.about-modal__start {
  font-family: 'Titan One', sans-serif;
  @include font(500, 23px, 24px, initial, null, var(--primare-bg-color));
  text-transform: uppercase;
}
.about-modal__end {
  font-family: 'Titan One', sans-serif;
  display: block;
  @include font(700, 35px, 35px, normal, null, var(--accent-color));
  text-transform: uppercase;
  // border-bottom: 3px solid black;
}
// ================TIMELINE===================
.timeline {
  max-width: 1200px;
  position: relative;
  margin: 20px auto;
  padding: 5px 20px;
  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: var(--secondary-accent-color);
    color: var(--primare-bg-color);
    z-index: 5;
    border-radius: 20px;
  }
  &::before {
    content: 'Start';
    padding: 6px;
    top: 0;
    font-family: 'Titan One', sans-serif;
    @include font(400, 25px, 25px, normal, null, var(--accent-color));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: 'End';
    padding: 6px;
    bottom: 0;
    font-family: 'Titan One', sans-serif;
    @include font(400, 25px, 25px, normal, null, var(--accent-color));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.timeline .timeline-list {
  margin: 65px 0;
}

.timeline-list::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 99%;
  border-left: 2px dotted whitesmoke;
}
.timeline-item {
  position: relative;

  width: calc(50% - 20px);
  margin: 20px 0;
  border-radius: 15px;
  border: 1px solid var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    &:nth-child(even) {
      left: calc(50% + 20px);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -31px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--third-bg-color);
    
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &:nth-child(even)::before {
      left: -31px;
      background: var(--secondary-bg-color);
    }
}


.timeline-content {
  padding: 10px;
  background: var(--secondary-bg-color);
  border-radius: 15px;
}
.timeline-title {
  font-family: 'Titan One', sans-serif;
  @include font(400, 25px, 25px, normal, null, var(--accent-color));
  margin-bottom: 10px;
  @media screen and (max-width: $tablet-width) {
    @include font(400, 20px, 20px, normal, null, var(--accent-color));
  }
}

.timeline-data {
  position: absolute;
  padding: 2px 10px;
  width: 98px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  font-family: 'Titan One', sans-serif;
  @include font(400, 18px, 18px, normal, null, var(--accent-color));
  .timeline-item:nth-child(odd) & {
    right: -145px;
    top: 0;
    color: #da8799;
  }
  .timeline-item:nth-child(even) & {
    left: -145px;
    top: 0;
  
    color: #809663;
  }
}


.timeline-text {
  @include font(400, 15px, 16px, normal, null, var(--primary-text-color));
}
@media screen and (max-width: 767px) {
  .timeline::before,
  .timeline::after {
    left: 53px;
    transform: translateX(-49px);
  }

  .timeline-list {
    padding-left: 20px;
  }
  .timeline-list::before {
    left: 20px;
  }
  .timeline-item {
    width: 100%;
  }
  .timeline-item::before {
    left: -31px;
  }
  .timeline-item:nth-child(even) {
    left: 0;
  }
  .timeline-data {
    position: static;
    background: transparent;
    margin: 10px 0;
  }
}
