.overlay {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.buy-now {
  transform: scale(1);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: transparent;
  background-image: radial-gradient(
    var(--secondary-accent-color),
    rgba(0, 0, 0, 0.2),
    transparent
  );
  //   background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden .buy-now__modal {
  transform: scale(50%);
}
.buy-now.is-hidden {
  transition: opacity var(--time-duration) var(--timing-function);
}
.buy-now__modal {
  overflow-y: scroll;
  position: absolute;
  max-height: 80vh;
  border-radius: 15px;
  padding: 30px;
  z-index: 6;
  width: 60vw;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: transform var(--time-duration) var(--timing-function);

  background-color: var(--secondary-bg-color);
  @media screen and(min-width: $mobile-width) {
    width: 220px;
  }
  @media screen and(min-width: $tablet-width) {
    width: 500px;
  }
  @media screen and(min-width: $desktop-width) {
    width: 500px;
    overflow-y: hidden;
  }
}
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: border var(--time-duration) var(--timing-function);
  &:hover,
  &:focus {
    border: 1px solid black;
    color: black;
  }
}
.buy-now__icon-close {
  fill: currentColor;
}
.buy-now__title {
  text-align: center;
  font-family: Titan One, sans-serif;
  font-size: 20px;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.buy-now__list {
  display: flex;
  flex-direction: column;
  @media screen and(min-width:$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.buy-now__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.buy-now__item--first {
  background-image: linear-gradient(
    var(--secondary-accent-color),
    var(--primare-bg-color)
  );
}
.buy-now__item--second {
  background-image: linear-gradient(
    var(--forth-bg-color),
    var(--primare-bg-color)
  );
}
.buy-now__item--third {
  background-image: linear-gradient(
    var(--third-bg-color),
    var(--primare-bg-color)
  );
}
.buy-now__item:not(:last-child) {
  margin-bottom: 20px;
  @media screen and(min-width:$tablet-width) {
    margin-bottom: 0;
  }
}
.buy-now__description {
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;
  color: var(--accent-color);
}
.buy-now__quantity-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 10px;
}
.quantity {
  @include centeredFlex(flex, center, center);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--secondary-accent-color);
}
.buy-now__icon {
  fill: var(--accent-color);
}
.buy-now__input {
  padding: 5px;
  text-align: center;
  font-family: 'Titan One';
  text-transform: uppercase;
  color: var(--accent-color);
  width: 30px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 5px;
  background-color: transparent;
}
.buy-now__cart {
  padding: 0 20px;
}
