.contacts {
  padding-top: 60px;
  background-image: linear-gradient(
    to bottom,
    var(--primare-bg-color) 0 25%,
    #fff5f6 25% 100%
  );

  @media screen and (min-width: $tablet-width) {
    padding-top: 80px;
    background-image: linear-gradient(
      to bottom,
      var(--primare-bg-color) 0 51%,
      #fff5f6 51% 100%
    );
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 120px;
    background-image: linear-gradient(
      to bottom,
      var(--primare-bg-color) 0 28%,
      #fff5f6 28% 100%
    );
  }
}

.contacts > .container {
  @media screen and (min-width: $tablet-width) {
    padding: 0 16px;
  }
}

.contacts__list {
  margin-bottom: 32px;
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 60px;
  }
}
.contacts-card {
  position: relative;
  background-color: var(--primare-bg-color);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  min-height: 422px;
  border-radius: 24px;

  @media screen and (min-width: $tablet-width) {
    flex-basis: calc((100% - 64px) / 3);
    min-height: 568px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 558px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.contacts__box {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  padding: 30px 22px;
  background-color: var(--primare-bg-color);
  border-radius: 24px;
  box-shadow: 0 10px 20px rgba(255, 0, 64, 0.5);

  transition: transform var(--time-duration) var(--timing-function),
    box-shadow var(--time-duration) var(--timing-function);

  @media screen and (min-width: $desktop-width) {
    padding: 30px;
  }

  .contacts-card:hover & {
    transform: translateY(-20px);
    box-shadow: 0 10px 40px rgba(255, 0, 64, 0.8);
  }
}

.contacts-card__representation {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  color: var(--primare-bg-color);
  background: var(--forth-bg-color);
  border-radius: 4px;
  height: 16px;
  min-width: 80px;

  margin-bottom: 20px;
  padding: 0 25px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    height: 22px;
    padding: 0 16px;
    margin-bottom: 32px;
    border-radius: 6px;
  }

  @media screen and (min-width: $desktop-width) {
    height: 28px;
  }
}

.contacts-card__representation.contacts-card__representation--green {
  background-color: #c2e297;
}

.contacts-card__location {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}

.contacts-card__town {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  margin-bottom: 8px;

  color: var(--accent-text-color);

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.contacts-card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.66;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-card__work-time {
  padding: 24px 0;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: $tablet-width) {
    padding: 32px 0;
  }
}
.contacts-card__weekdays {
  margin-bottom: 8px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.contacts-card__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-text-color);

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.contacts-card__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--secondary-accent-color);

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.contacts-card__address {
  padding-top: 24px;
  font-style: normal;

  @media screen and (min-width: $tablet-width) {
    padding-top: 32px;
  }
}

.contacts-card__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--primary-text-color);
  transition: color var(--time-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.83;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.contacts__buttons {
  text-align: center;
}

.contacts__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  width: 161px;
  height: 44px;
  background-color: #d41342;
  color: var(--primare-bg-color);
  border-radius: 22px;
  border: none;

  @media screen and (min-width: $tablet-width) {
    width: 192px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 198px;
  }
}

.contacts__button.contacts__button--white {
  background-color: var(--primare-bg-color);
  color: var(--accent-color);

  @media screen and (min-width: $tablet-width) {
    width: 174px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 168px;
  }
}

.contacts__button:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 15px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 12px;
  }
}

.contacts__icon {
  width: 8px;
  height: 11px;
  fill: currentColor;
  margin-left: 12px;
}

.contacts-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    var(--secondary-accent-color),
    rgba(0, 0, 0, 0.2),
    transparent
  );
  z-index: 2;

  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function);

  @media screen and (max-width: 479.5px) {
    padding: 80px 10px;
  }
}

.contacts-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.contacts-overlay.is-hidden .contacts-modal {
  @media screen and (max-width: 479.5px) {
    transform: translateY(-80%) scale(0);
  }

  transform: translate(-50%, -50%) scale(0);
}

.contacts-modal {
  position: relative;
  z-index: 10;
  padding: 35px;
  max-width: 450px;
  width: 100%;
  background-color: #e17992;
  border-radius: 20px;
  text-align: center;

  transform: translateY(0) scale(1);
  transition: var(--time-duration) var(--timing-function);

  overflow-y: auto;

  @media screen and (max-width: 400px) {
    padding: 40px 15px;
  }

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contacts-modal__close {
  position: absolute;
  top: 12px;
  right: 12px;

  font-size: 21px;
  color: #303245;
  width: 27px;
  height: 27px;
  background-color: var(--main-background-color);
  transition: color var(--time-duration) var(--timing-function);

  border: none;
  border-radius: 50%;
  box-shadow: 10px 10px 15px #f66d8e, -10px -10px 15px #ec7f99;

  &:hover,
  &:focus {
    color: var(--forth-bg-color);
  }
}

.contacts-modal__label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--primare-bg-color);
}

.contacts-modal__input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.contacts-modal__input {
  background-color: var(--forth-bg-color);
  color: #303245;
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

  &::placeholder {
    color: transparent;
  }
}

.contacts-modal__cut {
  position: absolute;
  left: 20px;
  top: -20px;

  background-color: #e17992;
  border-radius: 10px;
  height: 20px;

  transform: translateY(0);
  transition: transform var(--time-duration) var(--timing-function);
  width: 76px;

  &--short {
    width: 50px;
  }

  .contacts-modal__input:focus ~ &,
  .contacts-modal__input:not(:placeholder-shown) ~ & {
    transform: translateY(8px);
  }
}

.contacts-modal__placeholder {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #65657b;

  line-height: 14px;
  pointer-events: none;

  transform-origin: 0 50%;
  transition: transform var(--time-duration) var(--timing-function),
    color var(--time-duration) var(--timing-function);

  .contacts-modal__input:focus ~ &,
  .contacts-modal__input:not(:placeholder-shown) ~ & {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .contacts-modal__input:not(:placeholder-shown) ~ & {
    color: var(--forth-bg-color);
  }

  .contacts-modal__input:focus ~ & {
    color: #d41342;
  }
}

.contacts-modal__submit {
  width: 192px;
  height: 44px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: #d41342;
  color: var(--primare-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
}

.contacts-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  z-index: 6;
  background-color: var(--primare-bg-color);
  border-radius: 10px;
}

.map-frame {
  width: 300px;
  height: 300px;
  border: 0;

  @media screen and (min-width: $tablet-width) {
    width: 750px;
  }
  @media screen and (min-width: $desktop-width) {
    height: 500px;
    width: 1000px;
  }
}
