.customer-reviews {
  padding-top: 30px;
  @media screen and (min-width: $desktop-width) {
    padding-top: 90px;
  }
}

.review-slider {
  &__userpic {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    margin: 0 auto 32px auto;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 16px;
    }
  }
  &__wrap {
    position: relative;
    background-color: #fafafa;
    margin-bottom: 16px;
    padding: 43px 50px 26px 50px;
    @media screen and (min-width: $tablet-width) {
      width: 620px;
      margin: 0 auto 4px auto;
      padding: 37px 6px 44px 6px;
    }
    @media screen and (min-width: $desktop-width) {
      width: 968px;
      margin-bottom: 16px;
      padding: 47px 74px 39px 73px;
    }
    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 54px;
      height: 40px;
      top: 30px;
      left: 53px;
      background-image: url(../images/customer-reviews/quote-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      @media screen and (min-width: $tablet-width) {
        width: 60px;
        top: 20px;
        left: 6px;
      }
      @media screen and (min-width: $desktop-width) {
        width: 54px;
        top: 32px;
        left: 72px;
      }
    }
  }
  &__text {
    position: relative;
    margin: 0;
    padding-left: 15px;
    padding-right: 8px;
    @include font(500, 12px, 31px, null, center, var(--accent-text-color));
    background: repeating-linear-gradient(
      to top,
      transparent,
      #e1e1e1 2px,
      transparent 1px,
      transparent 31px
    );
    @media screen and (min-width: $tablet-width) {
      padding-left: 45px;
      padding-right: 49px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 00.04em;
    }
    @media screen and (min-width: $desktop-width) {
      padding-left: 36px;
      padding-right: 35px;
      font-size: 16px;
      line-height: 1.86;
    }
  }
  &__part {
    position: relative;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 4px;
    height: 4px;
    border: 2px solid #c7133e;
    border-radius: 4px;
    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      top: -2px;
      left: -14px;
      border: 2px solid #c7133e;
      border-radius: 4px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      top: -2px;
      left: 10px;
      border: 2px solid #c7133e;
      border-radius: 4px;
    }
  }
  &__user {
    @include font(500, 14px, 26px, null, center, var(--accent-text-color));
    @media screen and (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 1.86;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 20px;
    }
  }
  &__sub-text {
    @include font(null, 14px, 26px, null, center, #d31342);
  }
}

.review-slider .swiper-pagination-bullets {
  margin-top: 16px;
  @media screen and (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.review-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  opacity: 1;
  transition: background-color 250ms var(--timing-function);
  @media screen and (min-width: $tablet-width) {
    width: 14px;
    height: 14px;
  }
  @media screen and (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
  }
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
  background-color: var(--accent-color);
  outline: transparent;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  @media screen and (min-width: $tablet-width) {
    gap: 18px;
  }
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-image: url(../images/customer-reviews/home-icon.svg);

  width: 12.4px;
  height: 11.84px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $tablet-width) {
    width: 14px;
    height: 14px;
  }
  @media screen and (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
  }
}
