.container-reviews {
  outline: 2px solid tomato;
}

.customer-reviews {
  padding-top: 60px;
}

.review-slider__userpic {
  margin: 0 auto 32px auto;
}

.review-slider__wrap {
  position: relative;
  background-color: #fafafa;
  margin-bottom: 16px;
  padding: 43px 50px 26px 50px;
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 40px;
    top: 30px;
    left: 53px;
    background-image: url(../images/customer-reviews/“.png);
    background-size: contain;
  }
}

.review-slider__text {
  margin: 0;
  position: relative;
  padding-right: 8px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;
  background: repeating-linear-gradient(
    to top,
    transparent,
    #e1e1e1 2px,
    transparent 1px,
    transparent 31px
  );
}

.review-slider__part {
  position: relative;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 4px;
  height: 4px;
  border: 2px solid #c7133e;
  border-radius: 4px;
  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -2px;
    left: -14px;
    border: 2px solid #c7133e;
    border-radius: 4px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -2px;
    left: 10px;
    border: 2px solid #c7133e;
    border-radius: 4px;
  }
}

.review-slider__user {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
}

.review-slider .swiper-pagination {
  bottom: 0;
  display: inline-block;
}

.review-slider .swiper-pagination-bullet {
  margin: 0 18px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}
