.gallery {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    min-width: 100%;
    background-image: linear-gradient(
      180deg,
      var(--secondary-bg-color) 42%,
      var(--primare-bg-color) 0
    );
  }
}

.gallery__list {
  display: flex;
 justify-content: center;
  align-items: center;
  gap: 2.53px;
}

.gallery__item:not(:last-child) {
  margin-bottom: 1.89px;
}
.gallery__item {
  transition: scale 1s ease;
  &:hover {
    transform: scale(1.5);
  }
  
}
.gallery__image {
  border-radius: 8px;
  border: transparent;
  // transition: scale 1s ease;
  // &:hover {
  //   transform: scale(1.5);
  // }
}

.gallery__wrap-5 {
  margin-top: 14px;

  align-self: flex-start;
}
