.gallery {
  
    padding-top: 60px;
   
    background-image: linear-gradient(
      180deg,
      var(--secondary-bg-color) 42%,
      var(--primare-bg-color) 0
    );
  
  @media screen and (min-width: $tablet-width) {
    padding-top: 64px;
 
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 120px;
  }
}

// img {
// 	width: 100%;	
// }

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.53px;
  @media screen and (min-width: $tablet-width) {
    gap: 6.07px;
  }
  @media screen and (min-width: $desktop-width) {
    gap: 8px;
  }
}

.gallery__item:not(:last-child) {
  margin-bottom: 1.89px;
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 6.05px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
.gallery__item {
  transition: scale 1s ease;
  &:hover {
    transform: scale(1.5);
    @media screen and (min-width: $tablet-width) {
      transform: scale(1.7);
    }
    @media screen and (min-width: $desktop-width) {
      transform: scale(2.0);
    }
  }
}
.gallery__image {
  width: 100%;
  border-radius: 8px;
  border: transparent;
  @media screen and (min-width: $tablet-width) {
    border-radius: 20px;
  }
 
  
}

.gallery__wrap--grid {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr;
}

// .box4 {
//   grid-row-start: -2;
//   grid-row-end: 3;
//   grid-column-start: 1;
//   grid-column-end: 2;
//   // align-self: start;
// }
// .box5 {
//   grid-row-start: -1;
//   grid-row-end: 1;
//   grid-column-start: 1;
//   grid-column-end: 1;
// }

.gallery__wrap-5 {
    align-self: flex-start;
  margin-top: 14px;
 
  // @media screen and (min-width: $tablet-width) {
  //   transform: scale(1.7);
  // }
  // @media screen and (min-width: $desktop-width) {
  //   transform: scale(1.9);
  // }
}

