.gallery {
  overflow: hidden;

  padding-top: 60px;
  padding-bottom: 30px;

  background-image: linear-gradient(
    180deg,
    var(--secondary-bg-color) 42%,
    var(--primare-bg-color) 0
  );

  @media screen and (min-width: $tablet-width) {
    padding-top: 64px;
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 120px;
  }
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.53px;
  @media screen and (min-width: $tablet-width) {
    gap: 6px;
  }
  @media screen and (min-width: $desktop-width) {
    gap: 8px;
  }
}

.gallery__item:not(:last-child) {
  margin-bottom: 1.89px;
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 6.05px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
.gallery__item:hover {
  position: relative;
  z-index: 10;
}


.gallery__image {
  width: 100%;
  border-radius: 8px;
  border: transparent;
  
  transition: transform 1s ease;

  &:hover {
    
    transform: translate(0.001px) scale(1.4) ;
  }
@media screen and (min-width: $tablet-width) {
  border-radius: 20px;
}
}

.box5 {
  width: 50%;
}

.gallery__wrap-5 {
  align-self: flex-start;
  margin-top: 14px;
  @media screen and (min-width: $tablet-width) {
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-top: 43px;
  }
}








