.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffb8ca;
}

.header__logo {
  position: relative;
  padding-top: 8px;
  background-color: #ffb8ca;
  @media screen and (min-width: $tablet-width) {
    padding-top: 32px;
    display: flex;
    min-width: 78%;
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 37px;
  }
}

.header__wrap {
  display: none;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 7px;
  right: 0px;
  padding: 20px;
  border: 0;
  background-color: #ffb8ca;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet-width) {
    display: block;
    //margin-left: 273px;
    position: absolute;
    top: 7px;
    right: 0px;
    padding: 35px 20px 5px 20px;
    border: 0;
    background-color: #ffb8ca;
  }
  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //padding-left: 70px;
  overflow-y: auto;
  @media screen and (min-width: $desktop-width) {
    display: none;
  }
  transform: translateY(-100%);
  transition: transform 250ms var(--timing-function);

  &.is-shown {
    transform: translateY(0%);
  }
}

.menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  border: 0;
  background-color: #e17992;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn__icon-svg {
  width: 100%;
  height: 100%;
}

.header .container {
  position: relative;
  width: 100%;
  @media screen and (min-width: $tablet-width) {
    // max-width: 100%;
    display: flex;
    align-items: center;
  }
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding-top: 60px;
  background-color: #e17992;
  @media screen and (min-width: $tablet-width) {
    max-width: 80%;
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.mob-menu__wrap {
  width: 250px;
  height: 210px;
  background: repeating-linear-gradient(
    #e18298 1px,
    transparent 2px,
    transparent 42px
  );
}

.mob-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  padding-top: 13px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover,
.mob-menu__link:focus {
  color: #d41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  cursor: pointer;
  border: none;
  margin: 0 auto 32px auto;
  padding: 0;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--primare-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn:hover,
.mob-menu-btn:focus {
  background-color: #ecebeb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn__icon {
  margin-left: 15px;
}

.mob-menu-btn__tablet {
  @media screen and (min-width: $mobile-width) {
    display: none;
  }
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.mob-menu-btn__tablet {
  @media screen and (min-width: $tablet-width) {
    //margin-left: auto;
    //position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d41443;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    margin-left: auto;
    padding: 0;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--primare-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: $desktop-width) {
    margin-top: 40px;
    //right: 16px;
    margin-left: auto;
  }
}

.mob-menu-btn__tablet:hover,
.mob-menu-btn__tablet:focus {
  background-color: #ecebeb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__wrap {
  @media screen and (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.header__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: #d41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
