.hero .container {
  @media screen and (min-width: 768px) {
    position: relative;
    height: 100%;
  }
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  height: 444px;
  overflow: hidden;
  // padding-top: 63px;
  @media screen and (min-width: 768px) {
    overflow: visible;
    padding-top: 20px;
    padding-top: 82px;
    height: 335px;
  }
  @media screen and (min-width: 1200px) {
    overflow: visible;
    padding-top: 20px;
    // padding-top: 88px;
    height: 573px;
  }

  &--center {
    position: relative;
    z-index: 1;
    margin-top: 136px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      overflow: visible;
      display: flex;
      justify-content: space-between;
    }
  }

  &--title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    letter-spacing: 0;

    color: #ffffff;
    width: 218px;
    height: 106px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.13;
      width: 162px;
      height: 80px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 38px;
      line-height: 1.15;
      width: 227px;
      height: 137px;
      margin-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  &__item:nth-child(2) {
    margin-left: 8px;
  }

  &__title--label {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.95;

    text-transform: uppercase;

    color: #d41443;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 0.9;
    }
  }

  &__btn {
    border-radius: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn--made {
    color: #d41443;

    background: #ffffff;
    border: none;
    width: 82px;
    height: 24px;
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 1.25;
      width: 82px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.3;
      width: 138px;
      height: 40px;
    }
  }

  &__btn--made:hover,
  &__btn--made:focus {
    background: #ecebeb;
  }

  &__btn--product {
    background: #d41443;
    color: #ffffff;
    border: none;
    width: 62px;
    height: 24px;
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 1.25;
      width: 61px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.3;
      width: 107px;
      height: 40px;
    }
  }

  &--circle {
    position: absolute;
    width: 346px;
    height: 344px;
    border: none;
    border-radius: 50%;
    background-color: #ffa5ba;
    padding: 0;
    top: 25px;
    transform: translateX(5%);
    @media screen and (min-width: 768px) {
      width: 335px;
      height: 333px;
      transform: translateX(65%);
      top: -58px;
    }
    @media screen and (min-width: 1200px) {
      width: 534px;
      height: 534px;
      transform: translateX(88%);
      top: -58px;
    }
  }

  &__img {
    position: absolute;
    top: 9px;
    left: 81px;
    @media screen and (min-width: 768px) {
      // width: 143px;
      top: 37px;
      left: 74px;
    }
    @media screen and (min-width: 1200px) {
      // width: 143px;
      top: 54px;
      left: 119px;
    }
  }
}

.hero__namber {
  display: none;
  @media screen and (min-width: 768px) {
    display: contents;
  }
}

.namber__item {
  position: relative;
  margin-left: 10px;
  margin-bottom: 16px;
}
.namber__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.namber__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.fon__namber {
  background-color: #fff;
  position: absolute;
  z-index: -1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -4px;
  right: -5px;
  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}

.hero__bio {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.bio__girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
  }
}

.bio__text--stule {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0;

  color: #fff;

  width: 114px;
  position: relative;
  z-index: 1;
  margin-bottom: 7px;
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}

.bio__btn {
  background-color: transparent;
  border: none;
}

.products__pic {
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}
