.products {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background: var(--primare-bg-color);
}
.products__slogan {
  font-family: 'Titan One';
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 0;
  position: relative;
  @include font(
    null,
    18px,
    21px,
    0.04em,
    center,
    var(--secondary-accent-color)
  );
}

.products__title {
  font-family: 'Titan One';
  text-transform: uppercase;
  margin-bottom: 148px;
  margin-top: 0;
  position: relative;
  @include font(null, 34px, 39px, 0.04em, center, var(--accent-color));
}

.products__list {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.products__item {
  width: 100%;
  height: 100%;
  display: block;

  margin-top: 140px;
  background-color: var(--forth-bg-color);
  border-radius: 24px;
}
.products__item:first-child {
  background-color: var(--secondary-accent-color);
  margin-top: 0;
}

.products__item:last-child {
  background-color: var(--third-bg-color);
}
.products__slogan::before {
  content: '';
  background-image: url(../images/products/products-ice-cream-mob-min.png);
  background-repeat: no-repeat;
  top: 80px;
  left: 0;
  width: 100%;
  height: 280px;
  position: absolute;
}
.products__title::before {
  content: '';
  background-image: url(../images/products/products-ice-coffee-mob-min.png);
  background-repeat: no-repeat;
  top: 635px;
  left: 0;
  width: 100%;
  height: 280px;
  position: absolute;
}
.products__list::before {
  content: '';
  background-image: url(../images/products/products-milkshakes-mob-min.png);
  background-repeat: no-repeat;
  top: 1323px;
  left: 20px;
  width: 280px;
  height: 280px;
  position: absolute;
}

/*.products__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}*/
.products__subtitle {
  font-family: 'Titan One';
  align-items: flex-end;
  text-transform: uppercase;
  padding-top: 160px;
  margin: 0 auto;
  /* identical to box height */
  @include font(null, 20px, 23px, 0.04em, center, var(--primare-bg-color));
}

.products__box {
  margin-top: 32px;
  gap: 4px;
  width: 100%;
  @include centeredFlex(flex, null, center);
}

.products__box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}
.products__icon {
  fill: var(--primare-bg-color);
  border-radius: 50%;
  border-color: black;
}

.products__text {
  font-family: 'DM Sans';
  align-content: flex-end;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'DM Sans';
  @include font(700, 14px, 21px, 0.04em, null, var(--primare-bg-color));
}

.products__holder {
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;
  @include centeredFlex(flex, center, center);
}

.products__pic {
  background-color: var(--primare-bg-color);
  fill: var(--accent-color);
  display: flex;
  text-align: center;
  align-items: flex-end;
  border-radius: 50%;
  @include centeredFlex(flex, center, center);
}
