.test__container {
  padding-top: 50px;
  outline: 1px solid pink;
}
.test__title {
  @include font(null, 15px, 25px, 0.03em, center, purple);
}
.test__button {
  border: 2px solid var(--accent-color);
}
.buy-now {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, gold, pink);
  overflow: scroll;
}
.overlay {
  position: absolute;
  background: transparent;
  width: 100vw;
  height: 100vh;
}
.buy-now__modal {
  position: absolute;
  border-radius: 30px;
  padding: 30px;
  z-index: 1;
  width: 70%;
  background-color: pink;
  background-image: linear-gradient(
    135deg,
    var(--accent-color),
    var(--secondary-accent-color),
    white,
    var(--secondary-accent-color),
    var(--accent-color)
  );
  @media screen and(min-width: $tablet-width) {
    width: 30%;
  }
}
.buy-now__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-now__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(
    var(--secondary-accent-color),
    var(--primare-bg-color)
  );
  padding: 10px;
}
.buy-now__item:not(:last-child) {
  margin-bottom: 20px;
}
.buy-now__description {
  font-family: 'Titan One';
  text-transform: uppercase;
  color: var(--accent-color);
}
.buy-now__quantity-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.quantity {
  @include centeredFlex(flex, center, center);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--secondary-accent-color);
}
.buy-now__icon {
  fill: var(--accent-color);
}
.buy-now__input {
  text-align: center;
  font-family: 'Titan One';
  text-transform: uppercase;
  color: var(--accent-color);
  width: 30px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 5px;
  background-color: transparent;
}
