<div class="about-backdrop is-hidden">
  <div class="about-modal__mob-container">
    <article class="about-modal">
      <!-- data-modal-close -->
      <button type="button" class="about-modal__close-btn">
        <svg class="about-modal__icon" width="11" height="11">
          <use href="./images/icons.svg#icon-svg-button-close"></use>
        </svg>
      </button>
      <div class="about-modal__title-wrap">
        <span class="about-modal__pre-title">top</span>
        <h2 class="about-modal__title">
          <span class="about-modal__start">facts about</span> <br /><span
            class="about-modal__end"
            >ice cream</span
          >
        </h2>
      </div>
      <div class="timeline">
        <ul class="timeline-list list">
          <li class="timeline-item link">
            <div class="timeline-content">
              <h3 class="timeline-title">Wow !</h3>
              <p class="timeline-data">Step 1</p>
              <p class="timeline-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus esse nam quo ad assumenda tempora veritatis aspernatur,
                autem dolorum ipsam culpa iusto debitis nobis, obcaecati.
              </p>
            </div>
          </li>
          <li class="timeline-item link">
            <div class="timeline-content">
              <h2 class="timeline-title">Is it true ?!</h2>
              <p class="timeline-data">Step 2</p>
              <p class="timeline-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus esse nam quo ad assumenda tempora veritatis aspernatur,
                autem dolorum ipsam culpa iusto debitis nobis, obcaecati, sint
                voluptate.
              </p>
            </div>
          </li>
          <li class="timeline-item link">
            <div class="timeline-content">
              <h3 class="timeline-title">Mmmm . . .</h3>
              <p class="timeline-data">Step 3</p>
              <p class="timeline-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus esse nam quo ad assumenda tempora veritatis aspernatur,
                autem dolorum ipsam.
              </p>
            </div>
          </li>
          <li class="timeline-item link">
            <div class="timeline-content">
              <h3 class="timeline-title">Yes !</h3>
              <p class="timeline-data">Step 4</p>
              <p class="timeline-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus esse nam quo ad assumenda tempora veritatis aspernatur,
                autem dolorum ipsam culpa iusto?
              </p>
            </div>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <a href="#" class="overlay about-modal-close-link" onclick="return false;">
  </a>
</div>
