<div class="about-backdrop is-hidden">
  <div class="about-modal__mob-container">
    <article class="about-modal">
      <!-- data-modal-close -->
      <button type="button" class="about-modal__close-btn">
        <svg class="about-modal__icon" width="11" height="11">
          <use href="./images/icons.svg#icon-svg-button-close"></use>
        </svg>
      </button>
      <div class="about-modal__title-wrap">
        <span class="about-modal__pre-title">5</span>
        <h2 class="about-modal__title">
          <span class="about-modal__start">facts about</span> <br /><span
            class="about-modal__end"
            >ice cream</span
          >
        </h2>
      </div>

      <div class="about-modal__list-wrap">
        <div class="about-modal__background"></div>
        <ol class="about-modal__list">
          <li class="about-modal__item">
            <span class="about-modal__highlighted--blue">June</span> is the
            month of the year where most ice cream is produced.
          </li>
          <li class="about-modal__item about-modal__item--moved">
            <span class="about-modal__highlighted--pink">Vanilla</span> was
            voted America's favorite flavor.
          </li>
        </ol>
      </div>

      <ol start="3" class="about-modal__list">
        <li class="about-modal__item">
          One cone of ice cream can be finished off
          <span class="about-modal__highlighted--blue">in 50 licks.</span>
        </li>
      </ol>

      <div class="about-modal__list-wrap">
        <ol start="4" class="about-modal__list">
          <li class="about-modal__item">
            End of the
            <span class="about-modal__highlighted--pink">World War II</span> was
            celebrated by eating ice cream.
          </li>
          <li class="about-modal__item">
            About
            <span class="about-modal__highlighted--blue"
              >98% of American families</span
            >
            have ice cream in their freezers at all times.
          </li>
        </ol>
        <div class="about-modal__additional-background"></div>
      </div>
    </article>
  </div>
</div>
