<section class="about" id="about-id">
  <div class="container">
    <p class="about__pretitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrap">
      <div class="about__background"></div>
      <div class="about__text-wrap">
        <p class="about__main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__additional-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__additional-text">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button button button--white" type="button">
          Read more
          <svg class="button__icon" width="8" height="11">
            <use href="images/icons.svg#icon-sign-more"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
