<section class="advantage" id="advantages-id">
  <div class="container">
    <h2 class="advantage__title visually-hidden">Advantages</h2>
    <ul class="advantage__list">
      <li class="advantage__item">
        <span class="advantage__number">721</span>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <span class="advantage__number">16kg</span>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <span class="advantage__number">84</span>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
