<div class="buy-now is-hidden">
  <div class="buy-now__modal">
    <button type="button" class="close-icon">
      <svg class="about-modal__icon" width="11" height="11">
        <use href="./images/icons.svg#icon-svg-button-close"></use>
      </svg>
    </button>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10163.687321252015!2d30.503208425140777!3d50.44255667539872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef9a90945a1%3A0x10dd6115b6be3f7c!2z0J_QsNGA0Log0ZbQvNC10L3RliDQotCw0YDQsNGB0LAg0KjQtdCy0YfQtdC90LrQsA!5e0!3m2!1sru!2sua!4v1658858707520!5m2!1sru!2sua"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <h2 class="buy-now__title">Make your choice</h2>
    <ul class="buy-now__list">
      <li class="buy-now__item buy-now__item--first">
        <img
          class="buy-now__image"
          srcset="./images/shop/buy1-1x.png 1x, ./images/shop/buy1-2x.png 2x"
          src="./images/shop/buy1-1x.png"
          alt="ice cream"
          width="100"
        />
        <p class="buy-now__description">ice cream</p>
        <div class="buy-now__quantity-wrapper">
          <a
            href=""
            class="quantity quantity--minus"
            onclick="return false;"
            id="minusFirst"
            ><svg class="buy-now__icon" width="20" height="20">
              <use href="./images/icons.svg#minus"></use>
            </svg>
          </a>
          <div class="buy-now__input" id="firstCount">0</div>
          <a
            href=""
            class="quantity quantity__plus"
            onclick="return false;"
            id="plusFirst"
            ><svg class="buy-now__icon" width="15" height="15">
              <use href="./images/icons.svg#plus"></use>
            </svg>
          </a>
        </div>
        <a href="" class="buy-now__cart" onclick="return false;">
          <svg class="buy-now__icon" width="30" height="30">
            <use href="./images/icons.svg#basket"></use>
          </svg>
        </a>
      </li>
      <li class="buy-now__item buy-now__item--second">
        <img
          class="buy-now__image"
          srcset="./images/shop/buy2-1x.png 1x, ./images/shop/buy2-2x.png 2x"
          src="./images/shop/buy2-1x.png"
          alt="ice cream"
          width="100"
        />
        <p class="buy-now__description">ice coffee</p>
        <div class="buy-now__quantity-wrapper">
          <a
            href=""
            class="quantity quantity--minus"
            id="minusSecond"
            onclick="return false;"
            ><svg class="buy-now__icon" width="20" height="20">
              <use href="./images/icons.svg#minus"></use>
            </svg>
          </a>
          <div class="buy-now__input" id="secondCount">0</div>
          <a
            href=""
            class="quantity quantity--plus"
            id="plusSecond"
            onclick="return false;"
            ><svg class="buy-now__icon" width="15" height="15">
              <use href="./images/icons.svg#plus"></use>
            </svg>
          </a>
        </div>
        <a href="" class="buy-now__cart" onclick="return false;">
          <svg class="buy-now__icon" width="30" height="30">
            <use href="./images/icons.svg#basket"></use>
          </svg>
        </a>
      </li>
      <li class="buy-now__item buy-now__item--third">
        <img
          class="buy-now__image"
          srcset="./images/shop/buy3-1x.png 1x, ./images/shop/buy3-2x.png 2x"
          src="./images/shop/buy3-1x.png"
          alt="ice cream"
          width="100"
        />
        <p class="buy-now__description">milkshakes</p>
        <div class="buy-now__quantity-wrapper">
          <a
            href=""
            class="quantity quantity--minus"
            onclick="return false;"
            id="minusThird"
            ><svg class="buy-now__icon" width="20" height="20">
              <use href="./images/icons.svg#minus"></use>
            </svg>
          </a>
          <div class="buy-now__input" id="thirdCount">0</div>
          <a
            href=""
            class="quantity quantity--plus"
            onclick="return false;"
            id="plusThird"
            ><svg class="buy-now__icon" width="15" height="15">
              <use href="./images/icons.svg#plus"></use>
            </svg>
          </a>
        </div>
        <a href="" class="buy-now__cart" onclick="return false;" id="thirdPlus">
          <svg class="buy-now__icon" width="30" height="30">
            <use href="./images/icons.svg#basket"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <a href="#" class="overlay buy-now-close is-hidden" onclick="return false;">
  </a>
</div>
