<section class="contacts" id="contacts-id">
  <h2 class="contacts__title visually-hidden">Our contacts</h2>
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts-card">
        <div class="contacts__box">
          <p class="contacts-card__representation">CAFE</p>
          <div class="contacts-card__location">
            <h3 class="contacts-card__town">Chicago</h3>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts-card__work-time">
            <li class="contacts-card__weekdays">
              <p class="contacts-card__day">Monday - Friday</p>
              <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__weekends">
              <p class="contacts-card__day">Saturday - Sunday</p>
              <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-card__address">
            <li>
              <a href="tel:+610383766284" class="contacts-card__link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-card__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card">
        <div class="contacts__box">
          <p
            class="contacts-card__representation contacts-card__representation--green"
          >
            FOODTRUCK
          </p>
          <div class="contacts-card__location">
            <h3 class="contacts-card__town">Los Angeles</h3>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts-card__work-time">
            <li class="contacts-card__weekdays">
              <p class="contacts-card__day">Monday - Friday</p>
              <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__weekends">
              <p class="contacts-card__day">Saturday - Sunday</p>
              <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-card__address">
            <li>
              <a href="tel:+610383766284" class="contacts-card__link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-card__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card">
        <div class="contacts__box">
          <p class="contacts-card__representation">CAFE</p>
          <div class="contacts-card__location">
            <h3 class="contacts-card__town">New York</h3>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts-card__work-time">
            <li class="contacts-card__weekdays">
              <p class="contacts-card__day">Monday - Friday</p>
              <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__weekends">
              <p class="contacts-card__day">Saturday - Sunday</p>
              <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-card__address">
            <li>
              <a href="tel:+610383766284" class="contacts-card__link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-card__link"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button
        type="button"
        class="contacts__button map-open-button button button--pink"
      >
        Our Locations
        <svg class="contacts__icon" width="8" height="11">
          <use href="./images/icons.svg#icon-sign-more"></use>
        </svg>
      </button>
      <button
        data-modal-open
        type="button"
        class="contacts__button contacts__button--white button button--white"
      >
        Franchise
        <svg class="contacts__icon" width="8" height="11">
          <use href="./images/icons.svg#icon-sign-more"></use>
        </svg>
      </button>
    </div>
  </div>
  <div data-modal class="contacts-overlay is-hidden">
    <div class="contacts-modal">
      <form>
        <strong class="contacts-modal__label"
          >Leave a request and we will contact you shortly</strong
        >
        <div class="contacts-modal__input-container">
          <input
            id="firstname"
            class="contacts-modal__input"
            type="text"
            placeholder="."
          />
          <div class="contacts-modal__cut"></div>
          <label for="firstname" class="contacts-modal__placeholder"
            >First name</label
          >
        </div>
        <div class="contacts-modal__input-container">
          <input
            id="lastname"
            class="contacts-modal__input"
            type="text"
            placeholder="."
          />
          <div class="contacts-modal__cut"></div>
          <label for="lastname" class="contacts-modal__placeholder"
            >Last name</label
          >
        </div>
        <div class="contacts-modal__input-container">
          <input
            id="email"
            class="contacts-modal__input"
            type="text"
            placeholder="."
          />
          <div class="contacts-modal__cut contacts-modal__cut--short"></div>
          <label for="email" class="contacts-modal__placeholder">Email</label>
        </div>
        <button
          type="button"
          class="contacts-modal__submit button button--pink"
        >
          send
        </button>
      </form>
      <button data-modal-close class="contacts-modal__close">&#10006;</button>
    </div>
    <a
      href="#"
      data-modal-close
      class="overlay-link-close overlay"
      onclick="return false;"
    ></a>
  </div>
  <div class="contacts-overlay map-modal is-hidden">
    <div class="contacts-map">
      <!-- <iframe
        class="map-frame"
        src="https://my.atlistmaps.com/map/b8931072-24ba-45f5-b413-e0266d13781c?share=true"
        allow="geolocation"
        allowfullscreen
        scrolling="no"
      ></iframe> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d52762463.42866811!2d-79.92410321237101!3d36.18199918757793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1660085326695!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a href="#" class="overlay map-close" onclick="return false;"> </a>
  </div>
</section>
