<section class="customer-reviews">
  <div class="container container-reviews">
    <h2 class="visually-hidden">customer-reviews</h2>
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <img
          src="./images/customer-reviews/user-1.webp"
          alt="user-1"
          class="customer-reviews__userpic"
        />
        <div class="customer-reviews__wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="customer-reviews__part"></div>
        <p class="customer-reviews__user">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <img
          src="./images/customer-reviews/user-2.webp"
          alt="user-2"
          class="customer-reviews__userpic"
        />
        <div class="customer-reviews__wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="customer-reviews__part"></div>
        <p class="customer-reviews__user">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <img
          src="./images/customer-reviews/user-3.webp"
          alt="user-3"
          class="customer-reviews__userpic"
        />
        <div class="customer-reviews__wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="customer-reviews__part"></div>
        <p class="customer-reviews__user">Emily, Los Angeles</p>
      </li>
    </ul>
    <ul class="pagination__list">
      <li class="pagination__item">
        <svg class="pagination__icon" width="12.4" height="11.8">
          <use
            href="./images/customer-reviews/symbol-defs.svg#icon-pagination-current"
          ></use>
        </svg>
        <button
          type="button"
          class="pagination__btn pagination__btn-current"
        ></button>
      </li>
      <li class="pagination__item">
        <button type="button" class="pagination__btn"></button>
      </li>
      <li class="pagination__item">
        <button type="button" class="pagination__btn"></button>
      </li>
    </ul>
  </div>
</section>
