<section class="customer-reviews">
  <!-- <div class="container container-reviews">
    <h2 class="visually-hidden">customer-reviews</h2>
    <div class="review-slider swiper">
      <div class="review-slider__wrapper swiper-wrapper">
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-1.webp"
            alt="user-1"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-2.webp"
            alt="user-2"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-3.webp"
            alt="user-3"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-1.webp"
            alt="user-1"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-2.webp"
            alt="user-2"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-3.webp"
            alt="user-3"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-1.webp"
            alt="user-1"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-2.webp"
            alt="user-2"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-3.webp"
            alt="user-3"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
        <div class="review-slider__slide swiper-slide">
          <img
            src="./images/customer-reviews/user-2.webp"
            alt="user-2"
            class="review-slider__userpic"
          />
          <div class="review-slider__wrap">
            <blockquote class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </blockquote>
          </div>
          <div class="review-slider__part"></div>
          <p class="review-slider__user">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="customer-reviews__pagination swiper-pagination"></div>
    </div>
  </div> -->
  <div class="container container-reviews">
    <h2 class="visually-hidden">customer-reviews</h2>
    <div class="review-slider swiper">
      <div class="review-slider__wrapper swiper-wrapper">
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Mihail</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/mihail.webp    1x,
                  ./images/customer-reviews/mihail-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/mihail.jpg    1x,
                  ./images/customer-reviews/mihail-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/mihail.jpg"
                alt="Mihail"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Romanna</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/romanna.webp    1x,
                  ./images/customer-reviews/romanna-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/romanna.jpg    1x,
                  ./images/customer-reviews/romanna-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/romanna.jpg"
                alt="Romanna"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Alexandr</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/alexandr.webp    1x,
                  ./images/customer-reviews/alexandr-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/alexandr.jpg    1x,
                  ./images/customer-reviews/alexandr-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/alexandr.jpg"
                alt="Alexandr"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Danylo</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/danylo.webp    1x,
                  ./images/customer-reviews/danylo-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/danylo.jpg    1x,
                  ./images/customer-reviews/danylo-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/danylo.jpg"
                alt="Danylo"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Kateryna Kononenko</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/kateryna-kononenko.webp    1x,
                  ./images/customer-reviews/kateryna-kononenko-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/kateryna-kononenko.jpg    1x,
                  ./images/customer-reviews/kateryna-kononenko-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/kateryna-kononenko.jpg"
                alt="Kateryna Kononenko"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Mariia Savchyn</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/mariia-savchyn.webp    1x,
                  ./images/customer-reviews/mariia-savchyn-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/mariia-savchyn.jpg    1x,
                  ./images/customer-reviews/mariia-savchyn-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/mariia-savchyn.jpg"
                alt="Mariia Savchyn"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Nikolai</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/nikolai.webp    1x,
                  ./images/customer-reviews/nikolai-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/nikolai.jpg    1x,
                  ./images/customer-reviews/nikolai-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/nikolai.jpg"
                alt="Nikolai"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Serhii Landar</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/serhii-landar.webp    1x,
                  ./images/customer-reviews/serhii-landar-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/serhii-landar.jpg    1x,
                  ./images/customer-reviews/serhii-landar-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/serhii-landar.jpg"
                alt="Serhii Landar"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Dmitrii Yurov</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/dmitrii-yurov.webp    1x,
                  ./images/customer-reviews/dmitrii-yurov-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/dmitrii-yurov.jpg    1x,
                  ./images/customer-reviews/dmitrii-yurov-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/dmitrii-yurov.jpg"
                alt="Dmitrii Yurov"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Emily</h3>
            <img
              src="./images/customer-reviews/user-2.webp"
              alt="user-2"
              class="review-slider__userpic"
            />
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Emily, Los Angeles</p>
          </article>
        </div>
      </div>
      <div class="customer-reviews__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
