<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">customer-reviews</h2>
    <div class="review-slider swiper">
      <div class="review-slider__wrapper swiper-wrapper">
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Michael Kononenko</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/michael-kononenko.webp    1x,
                  ./images/customer-reviews/michael-kononenko-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/michael-kononenko.jpg    1x,
                  ./images/customer-reviews/michael-kononenko-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/michael-kononenko.jpg"
                alt="Michael Kononenko"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                It was an incredible experience. We managed to go far beyond the
                set task and each participant gave 200% of their abilities. Glad
                to have been part of this team.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Michael Kononenko, Kyiv</p>
            <p class="review-slider__sub-text">Team Lead / All Sections</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Romanna Melnyk</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/romanna-melnyk.webp    1x,
                  ./images/customer-reviews/romanna-melnyk-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/romanna-melnyk.jpg    1x,
                  ./images/customer-reviews/romanna-melnyk-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/romanna-melnyk.jpg"
                alt="Romanna Melnyk"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                My participation in the project was an incredible experience.
                The volume of acquired knowledge multiplied by 2, thanks to
                active communication with the team. Team, GoIT you are
                absolutely awesome!!!
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Romanna Melnyk, Lviv</p>
            <p class="review-slider__sub-text">
              Scram Master / Section Gallery
            </p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Aleksandr Didorchuck</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/aleksandr-didorchuck.webp    1x,
                  ./images/customer-reviews/aleksandr-didorchuck-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/aleksandr-didorchuck.jpg    1x,
                  ./images/customer-reviews/aleksandr-didorchuck-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/aleksandr-didorchuck.jpg"
                alt="Aleksandr Didorchuck"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Participation in this project is great possibility get to now
                with teamwork, which wait us l future . Thanks GoIT for this
                wonderful opportunity.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Aleksandr Didorchuck, Odesa</p>
            <p class="review-slider__sub-text">Header</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Danylo Khilchuk</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/danylo-khilchuk.webp    1x,
                  ./images/customer-reviews/danylo-khilchuk-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/danylo-khilchuk.jpg    1x,
                  ./images/customer-reviews/danylo-khilchuk-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/danylo-khilchuk.jpg"
                alt="Danylo Khilchuk"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                I enjoyed working with my team on one project. In which each
                participant made every effort to obtain a result. And I am
                grateful to GoIT for such an opportunity.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Danylo Khilchuk, Rivne</p>
            <p class="review-slider__sub-text">Section Hero</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Kateryna Kononenko</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/kateryna-kononenko.webp    1x,
                  ./images/customer-reviews/kateryna-kononenko-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/kateryna-kononenko.jpg    1x,
                  ./images/customer-reviews/kateryna-kononenko-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/kateryna-kononenko.jpg"
                alt="Kateryna Kononenko"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                I'm glad to take part in this project. It is so inspiring, when
                everyone contributes a piece of their creativity, their skills
                and their talents. It was unforgettable experience and
                impressions!
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Kateryna Kononenko, Kharkiv</p>
            <p class="review-slider__sub-text">Section Products</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Mariia Savchyn</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/mariia-savchyn.webp    1x,
                  ./images/customer-reviews/mariia-savchyn-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/mariia-savchyn.jpg    1x,
                  ./images/customer-reviews/mariia-savchyn-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/mariia-savchyn.jpg"
                alt="Mariia Savchyn"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                This project was an awesome first step into a real IT life for
                me. Daily meetings, team work, people's enthusiasm, solving
                "unsolved" problems, coding, fixing code and again coding. It's
                extremely inspiring and I definitely got unforgettable
                experience.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Mariia Savchyn, Ivano-Frankivsk</p>
            <p class="review-slider__sub-text">Section About</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Mykola Filip</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/mykola-filip.webp    1x,
                  ./images/customer-reviews/mykola-filip-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/mykola-filip.jpg    1x,
                  ./images/customer-reviews/mykola-filip-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/mykola-filip.jpg"
                alt="Mykola Filip"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                From the start I had a feeling that we're ready to overcome all
                the changes code makes us to face and are able to make even
                more! Thank's all the team and GoIT for such a joyful
                experience!
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Mykola Filip, Uzhhorod</p>
            <p class="review-slider__sub-text">Section Advantage</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Serhii Landar</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/serhii-landar.webp    1x,
                  ./images/customer-reviews/serhii-landar-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/serhii-landar.jpg    1x,
                  ./images/customer-reviews/serhii-landar-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/serhii-landar.jpg"
                alt="Serhii Landar"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Thanks to GoIT for participating in such an interesting project.
                Thanks to our team for the great work and experience. To go the
                extra mile and solve problems. I hope it will be even more
                interesting in the future.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Serhii Landar, Lviv</p>
            <p class="review-slider__sub-text">Section Customer Reviews</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Dmitry Yurov</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/dmitry-yurov.webp    1x,
                  ./images/customer-reviews/dmitry-yurov-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/dmitry-yurov.jpg    1x,
                  ./images/customer-reviews/dmitry-yurov-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/dmitry-yurov.jpg"
                alt="Dmitry Yurov"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                Glad to be part of GO IT. There are excellent conditions for
                obtaining new knowledge and applying it in practice. Cool and
                interesting project, great team. It was a hard, but at the same
                time exciting week) In the future, I hope to work together
                again.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Dmitry Yurov, Odesa</p>
            <p class="review-slider__sub-text">Section Contacts</p>
          </article>
        </div>
        <div class="review-slider__slide swiper-slide">
          <article>
            <h3 class="visually-hidden">Dmitro Zhezheria</h3>
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/dmitro-zhezheria.webp    1x,
                  ./images/customer-reviews/dmitro-zhezheria-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-reviews/dmitro-zhezheria.jpg    1x,
                  ./images/customer-reviews/dmitro-zhezheria-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/customer-reviews/dmitro-zhezheria.jpg"
                alt="Dmitro Zhezheria"
                class="review-slider__userpic"
              />
            </picture>
            <div class="review-slider__wrap">
              <p class="review-slider__text">
                It was a really good experience ! This project was challenging,
                because I met deadlines, but also I experienced working in a
                team , when everyone contributed and supported each other. The
                more projects the more success in studying.
              </p>
            </div>
            <div class="review-slider__part"></div>
            <p class="review-slider__user">Dmitro Zhezheria, Kharkiv</p>
            <p class="review-slider__sub-text">Footer</p>
          </article>
        </div>
      </div>
      <div class="customer-reviews__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
