<footer class="footer">
  <div class="footer-container">
    <div class="footer-base">
      <p class="footer-base_titte">homemade ice cream made</p>
      <p class="footer-base_text">width passion</p>
    </div>
    <div class="footer-contacts">
      <ul class="footer-contacts_list">
        <li class="footer-contacts_item">
          <a href="https://github.com/" class="footer-contacts_soc-link">
            <svg class="footer-soc-icon" width="19" height="19">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-contacts_item">
          <a
            href="https://web.telegram.org/k/"
            class="footer-contacts_soc-link"
          >
            <svg class="footer-soc-icon" width="19" height="15">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-contacts_item">
          <a href="https://www.facebook.com/" class="footer-contacts_soc-link">
            <svg class="footer-soc-icon" width="8.8" height="19.2">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-contacts_tel">
        Feel free to contact
        <span class="color">+61 (0) 383 766 284</span>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="footer-logo">© 2022 - IceCream. All Rights Reserved.</div>
</footer>
