<header class="header" id="hideHeader">
  <div class="container">
    <div class="header__container">
      <div class="header__logo">
        <a class="header__logo-link header__link" href="#hero-id">
          <svg class="header__logo-svg" width="199" height="50">
            <use href="./images/icons.svg#icon-svg-logo"></use>
          </svg>
        </a>
        <div class="header__wrap">
          <ul class="header__list">
            <li class="header__item">
              <a href="#hero-id" class="header__link">Home</a>
            </li>
            <li class="header__item">
              <a href="#advantages-id" class="header__link">About us</a>
            </li>
            <li class="header__item">
              <a href="#about-id" class="header__link">How it’s made?</a>
            </li>
            <li class="header__item">
              <a href="#products-id" class="header__link">Our products</a>
            </li>
            <li class="header__item">
              <a href="#contacts-id" class="header__link">Contact</a>
            </li>
          </ul>
        </div>
        <button type="button" class="menu-open-btn">
          <svg class="menu-open-btn__icon-svg" width="20" height="12">
            <use href="./images/icons.svg#icon-svg-btn-open"></use>
          </svg>
        </button>
      </div>
      <svg class="header__bascket-icon is-hidden" width="30" height="30">
        <use href="./images/icons.svg#basket"></use>
      </svg>
      <button
        type="button"
        class="mob-menu-btn__tablet button button--white"
        data-buy-now-menu
      >
        Buy now
        <svg class="mob-menu-btn__icon" width="8" height="11">
          <use href="./images/icons.svg#icon-svg-btn"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu">
    <div class="container">
      <button type="button" class="menu-close-btn">
        <svg class="menu-close-btn__icon-svg" width="14" height="14">
          <use href="./images/icons.svg#icon-svg-btn-close"></use>
        </svg>
      </button>
      <button
        type="button"
        class="mob-menu-btn button button--white"
        data-buy-now
      >
        Buy now
        <svg class="mob-menu-btn__icon" width="8" height="11">
          <use href="./images/icons.svg#icon-svg-btn"></use>
        </svg>
      </button>
      <div class="mob-menu__wrap">
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a href="#hero-id" class="mob-menu__link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a href="#advantages-id" class="mob-menu__link">About us</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about-id" class="mob-menu__link">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a href="#products-id" class="mob-menu__link">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a href="#contacts-id" class="mob-menu__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
