<section class="hero" id="hero-id">
  <div class="container">
    <div class="hero--center">
      <div class="hero__content">
        <h1 class="hero--title">
          ice cream made with <span class="hero__title--label">passion</span>
        </h1>
        <ul class="hero__list">
          <li class="hero__item">
            <a
              href="https://youtu.be/uGfmbngKTqI"
              class="hero__btn hero__btn--product button button--pink tube"
            >
              Products
            </a>
          </li>
          <li class="hero__item">
            <a
              href="https://youtu.be/j0klSJR0DM0"
              class="hero__btn hero__btn--made button button--white tube"
            >
              How it’s made
            </a>
          </li>
        </ul>
      </div>
      <div class="namber">
        <ul class="namber__list">
          <li class="namber__item">
            <div class="namber__fon"></div>
            <p class="namber__label">16</p>
            <p class="namber__name">cafes</p>
          </li>
          <li class="namber__item">
            <div class="namber__fon"></div>
            <p class="namber__label">23</p>
            <p class="namber__name">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="bio">
      <picture>
        <source
          srcset="
            ./images/hero/milk-hero-tab-min.png    1x,
            ./images/hero/milk-hero-tab@2x-min.png 2x
          "
          type="image/png"
          media="(max-width:1199px)"
        />
        <source
          srcset="
            ./images/hero/milk-des-min.png    1x,
            ./images/hero/milk-des@2x-min.png 2x
          "
          type="image/png"
          media="(min-width:1200px)"
        />
        <img
          src="./images/hero/milk-hero-tab-min.png"
          alt="Photo of a jug with milk"
          class="bio__milk"
        />
      </picture>
      <div class="hero__text">
        <p class="bio__text--stule">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>

        <a
          class="bio__btn"
          href="https://en.wikipedia.org/wiki/Ice_cream"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero__pic" width="18" height="18">
            <use href="./images/icons.svg#icon-arrow-right2"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="hero--circle">
      <picture>
        <source
          srcset="
            ./images/hero/slider-pic71-mob-min.png    1x,
            ./images/hero/slider-pic71-mob@2x-min.png 2x
          "
          type="image/png"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/hero/slider-tab-min.png     1x,
            ./images/hero/slider-tab-@2x-min.png 2x
          "
          type="image/png"
          media="(max-width:1199px)"
        />
        <source
          srcset="
            ./images/hero/slider-des-min.png    1x,
            ./images/hero/slider-des@2x-min.png 2x
          "
          type="image/png"
          media="(min-width:1200px)"
        />
        <img
          src="./images/hero/slider-pic71-mob-min.png"
          alt="Photo of ice cream with six flavors"
          class="hero__img"
        />
      </picture>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/girl-hero-tab-min.png    1x,
          ./images/hero/girl-hero-tab@2x-min.png 2x
        "
        type="image/png"
        media="(max-width:1199px)"
      />
      <source
        srcset="
          ./images/hero/girl-des-min.png    1x,
          ./images/hero/girl-des@2x-min.png 2x
        "
        type="image/png"
        media="(min-width:1200px)"
      />
      <img
        src="./images/hero/girl-hero-tab-min.png"
        alt="Woman eats delicious ice cream"
        class="bio__girl"
      />
    </picture>
  </div>
</section>
