<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title__passion">passion</span>
      </h1>
      <ul class="hero-list__btn">
        <li class="hero-item__btn">
          <button class="hero-btn__products" type="button">Products</button>
        </li>
        <li class="hero-item__btn">
          <button class="hero-btn__made" type="button">How it’s made?</button>
        </li>
      </ul>
    </div>
    <div class="hero-fon">
      <!-- <picture>
        <source
          srcset="
            ./images/images-hero/slider-pic71-mob-min.png    1x,
            ./images/images-hero/slider-pic71-mob@2x-min.png 2x,
            ./images/images-hero/slider-pic71-mob@3x-min.png 3x
          "
          media="(max-width: 171px)"
        />

        <img
          class="hero-img__slider"
          src="./images/images-hero/slider-pic71-mob-min.png"
          alt="ice cream with six taste"
          width="171"
        />
      </picture> -->
      <picture>
        <source
          media="(max-width:767px)"
          srcset="
            ./images/images-hero/slider-pic71-mob-min.png    1x,
            ./images/images-hero/slider-pic71-mob@2x-min.png 2x,
            ./images/images-hero/slider-pic71-mob@3x-min.png 3x
          "
          type="image/png"
        />
        <img
          src="./images/images-hero/slider-pic71-mob-min.png"
          alt="Photo gallery of goodies"
          width="171"
          class="hero-img__slider"
        />
      </picture>
    </div>
  </div>
</section>
