<section class="hero container">
    <div class="hero--center">
      <h1 class="hero--title">
        ice cream made with <span class="hero__title--label">passion</span>
      </h1>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__btn hero__btn--product" type="button">Products</button>
        </li>
        <li class="hero__item">
          <button class="hero__btn hero__btn--made" type="button">How it’s made?</button>
        </li>
      </ul>
    </div>
    <div class="hero--circle">
      <picture>
        <source
          media="(max-width:767px)"
          srcset="
            ./images/images-hero/slider-pic71-mob-min.png    1x,
            ./images/images-hero/slider-pic71-mob@2x-min.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/images-hero/slider-pic71-mob-min.png"
          alt="Photo of ice cream with six flavors"
          width="171"
          class="hero__img"
        />
      </picture>
    </div>
</section>
