<section class="products" id="products-id">
        <div class="container">
                <p class="products__slogan">100% natural</p>

                <h2 class="products__title">products</h2>
                <ul class="products__list">
                        <li class="products__item">
                                <picture class="products__picture">
                                        <source srcset="images/products/products-ice-cream-mob-1x-min.png 1x,
                images/products/products-ice-cream-mob-2x-min.png 2x" media="(min-width: 320px)" />
                                        <img src="images/products/products-ice-cream-mob-min.png" alt="milkshakes"
                                                width="" />
                                        </picture">
                        </li>
                        <li class="products__item">
                                <h3 class="products__subtitle">ice cream</h3>
                                <div class="products__box">
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                </div>
                                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                                <div class="products__holder">
                                        <a href="" class="products__link">
                                                <svg class="products__pic" width="40" height="40">
                                                        <use href="images/icons.svg#icon-good-arrow"></use>
                                                </svg>
                                </div>
                        </li>
                        <li class="products__item">
                                <picture class="products__picture">
                                        <source srcset="images/products/products-ice-coffee-mob-1x-min.png 1x,
                images/products/products-ice-coffee-mob-2x-min.png 2x" media="(min-width: 320px)" />
                                        <img src="images/products/products-ice-coffee-mob-min.png" alt="milkshakes"
                                                width="" />
                                </picture>
                        </li>
                        <li class="products__item">
                                <h3 class="products__subtitle">ice coffee</h3>
                                <div class="products__box">
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                </div>
                                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                                <div class="products__holder">
                                        <a href="" class="products__link">
                                                <svg class="products__pic" width="40" height="40">
                                                        <use href="images/icons.svg#icon-good-arrow"></use>
                                                </svg>
                                </div>
                        </li>
                        <li class="products__item">
                                <picture class="products__picture">
                                        <source srcset="images/products/products-milkshakes-mob-1x-min.png 1x,
                images/products/products-milkshakes-mob-2x-min.png 2x" media="(min-width: 320px)" />
                                        <img src="images/products/products-milkshakes-mob-min.png" alt="milkshakes"
                                                width="" />
                                </picture>
                        </li>
                        <li class="products__item">
                                <h3 class="products__subtitle">milkshakes</h3>
                                <div class="products__box">
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                        <svg class="products__icon" width="6" height="6">
                                                <use href="images/icons.svg#icon-Ellipse-5"></use>
                                        </svg>
                                </div>
                                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                                <div class="products__holder">
                                        <a href="" class="products__link">
                                                <svg class="products__pic" width="40" height="40">
                                                        <use href="images/icons.svg#icon-good-arrow"></use>
                                                </svg>
                                </div>
        </div>
        </li>
</section>