
<section class="products">
 <div class="container">
  <p class="products__slogan">100% natural</p>

  <h2 class="products__title">products</h2>
  <ul class="products__list">
<li class="products__item">
   <h3 class="products__subtitle">ice cream</h3>
   <div class="products__box">
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   </div>
   <p class="products__text">There are so many varieties of <span class="tooltip" data-title="vanilla, chocolate, sorbet">ice-cream</span>, and each one is made with unique <span class="tooltip" data-title="water, ice, milk fat, milk protein, sugar">ingredients</span>, methods, and flavors. You will like all of them.</p>
   <div class="products__holder">
   <a href="" class="products__link">
            <svg class="products__pic" width="40" height="40">
            <use href="images/icons.svg#icon-good-arrow"></use>
            </svg>
            </div>
    </li>
<li class="products__item">
  <h3 class="products__subtitle">ice coffee</h3>
   <div class="products__box">
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   </div>
   <p class="products__text">Remember this: If you want to make a <span class="tooltip" data-title="banana milk coffee, cappuchino on ice, creamy iced coffee">drink</span> like a polished pro, stock up on simple syrup. It mixes easily for a seamless sipper. Be energetic!</p>   <div class="products__holder">
   <a href="" class="products__link">
            <svg class="products__pic" width="40" height="40">
            <use href="images/icons.svg#icon-good-arrow"></use>
            </svg>
          </div>  
    </li>
    <li class="products__item">
    <h3 class="products__subtitle">milkshakes</h3>
    <div class="products__box">
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
   <svg class="products__icon" width="6" height="6">
   <use href="images/icons.svg#icon-Ellipse-5"></use>
   </svg>
    </div>
    <p class="products__text">Why go out to a cafe for milkshakes if you can make your own <span class="tooltip" data-title="oreo, strawberry, chocolate, banana">milkshakes</span> at home?To make a milkshake, you only need milk and ice cream.</p>
    <div class="products__holder">
    <a href="" class="products__link">
            <svg class="products__pic" width="40" height="40">
            <use href="images/icons.svg#icon-good-arrow"></use>
            </svg>
            </div>
            </div>
    </li> 
</section>




