<section class="products" id="products-id">
  <div class="container">
    <p class="products__slogan">100% natural</p>
    <h2 class="products__title"><span class="products__text__comment" data-title="50% OFF &#128515; use code: GoIT THE BEST">products</span></h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card">
          <div class="products__item__card-front products__first">
            <h3 class="products__subtitle">ice cream</h3>
            <div class="products__box">
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text">
              There are so many varieties of ice-cream, and each one is made with unique ingredients, methods, and flavors. You will like all of them.</p> 
            </p>
            <div class="products__holder">
              <a href="#" class="products_link" onclick="return false;">
                <svg class="products__pic" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="products__item__card-back products__first-back">
            <h3 class="products__subtitle__card-back">
              Recipe<br />
              vanilla ice cream
            </h3>
            <div class="products__box__card-back">
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text__card-back">
              &#190; cup white sugar <br />1 cup heavy whipping cream<br />2
              &#188; cups milk<br />2 teaspoons vanilla extract
            </p>
            <div class="products__holder__card-back">
              <a href="#" class="products_link__card-back" onclick="return false;">
                <svg class="products__pic__card-back" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card">
          <div class="products__item__card-front products__second">
            <h3 class="products__subtitle">ice coffee</h3>
            <div class="products__box">
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text">
              Remember! If you want to make a drink like a polished pro, stock
              up on simple syrup. It mixes easily for a seamless sipper.
            </p>
            <div class="products__holder">
              <a href="#" class="products_link" onclick="return false;">
                <svg class="products__pic" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="products__item__card-back products__second-back">
            <h3 class="products__subtitle__card-back">
              Recipe <br />
              Baileys iced coffee
            </h3>
            <div class="products__box__card-back ">
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text__card-back">
              150-200ml strong filter coffee or cold brew<br />50ml
              Baileys Irish Cream liqueur<br />50ml milk or plant-based
              alternative
            </p>
            <div class="products__holder__card-back">
              <a href="#" class="products_link__card-back" onclick="return false;">
                <svg class="products__pic__card-back" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card">
          <div class="products__item__card-front products__third">
            <h3 class="products__subtitle">milkshakes</h3>
            <div class="products__box">
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text">
              Why go out to a cafe for milkshakes if you can make your own
              milkshakes at home?To make a milkshake, you only need milk and ice
              cream.
            </p>
            <div class="products__holder">
              <a href="#" class="products_link" onclick="return false;">
                <svg class="products__pic" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="products__item__card-back products__third-back">
            <h3 class="products__subtitle__card-back">
              Recipe <br />strawberry milkshake
            </h3>
            <div class="products__box__card-back">
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
              <svg class="products__icon__card-back" width="6" height="6">
                <use href="images/icons.svg#icon-Ellipse-5"></use>
              </svg>
            </div>
            <p class="products__text__card-back">
              225g strawberry , hulled<br />300ml cold milk<br />3 large scoops
              vanilla ice cream<br />extra strawberries , to serve (optional)
            </p>
            <div class="products__holder__card-back">
              <a href="#" class="products_link__card-back" onclick="return false;">
                <svg class="products__pic__card-back" width="40" height="40">
                  <use href="./images/icons.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
