<section class="test">
  <div class="container test__container">
    <h2 class="test__title">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, dicta.
    </h2>
    <ul class="test__list">
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
    </ul>
  </div>
</section>
