<section class="test">
  <div class="container test__container">
    <button class="test__button test-modal-open-button" type="button">
      Buy now
    </button>
    <h2 class="test__title">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, dicta.
    </h2>
    <ul class="test__list">
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
      <li class="test__item">
        <p class="test__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus,
          dicta.
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="test__backdrop is-hidden">
  <div class="test__modal">
    <h2 class="test__modal-title">Lorem, ipsum dolor.</h2>
    <p class="test__modal-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      sunt ab ullam quasi inventore placeat?
    </p>
  </div>
  <a
    href="#"
    class="overlay test__backdrop--close test__link is-hidden"
    onclick="return false;"
  >
  </a>
</div>
